<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.1" package="ewallet_v0.x_1.x_13.ewallet_v0.x_1.x_13" android:installLocation="preferExternal" android:versionCode="2">
	<uses-sdk android:minSdkVersion="22" android:targetSdkVersion="27" />
	<application android:allowBackup="true" android:icon="@drawable/Icon" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme" android:label="eWallet"></application>
</manifest>